RUN pip3 install cython
RUN pip3 install setuptools==59.6.0
RUN pip3 install GDAL==3.0.4
RUN pip3 install numpy==1.19.5
RUN pip3 install matplotlib==3.3.4
RUN pip3 install pandas==1.1.5

RUN pip3 install ExifRead==2.3.1
RUN pip3 install gpsphoto==2.2.3
RUN pip3 install imageio==2.9.0
RUN pip3 install networkx==2.5
RUN pip3 install opencv-python==3.4.2.16
RUN pip3 install opencv-contrib-python==3.4.2.16
RUN pip3 install piexif==1.1.3
RUN pip3 install Pillow==8.3.2
RUN pip3 install pytz==2020.1
RUN pip3 install PyWavelets==1.1.1
RUN pip3 install scikit-image==0.17.2
RUN pip3 install scikit-learn==0.23.2
RUN pip3 install scipy==1.5.4
RUN pip3 install six==1.15.0
RUN pip3 install sklearn==0.0
RUN pip3 install tifffile==2020.9.3

RUN pip3 install tqdm==4.50.2
RUN pip3 install detecto==1.2.1
RUN pip3 install open3d==0.11.2
RUN pip3 install utm==0.6.0
RUN pip3 install tensorflow==2.6.0
RUN pip3 install keras==2.6.0